.body__input-form {
    display: flex;
    flex-direction: column;
}

.contacts-form__labels label {
    padding: 0 30px;
    text-align: center;
}

.contacts-form__inputs input {
    text-align: center;
    width: 120px;
}

.input-form__button {
    width: 120px;
    justify-content: space-around;
}

.contacts-form__data {
    display: flex;
    flex-direction: column;
}

.data__entry span{
    padding: 0 60px;
    text-align: center;
}